body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s ease;
}

.dark-side {
  background-color: #222;
  color: #fff;
}
/* 
#calc {
  width: 300px;
  margin: 50px auto;
  background: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #000;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: right;
  background: #111;
  color: #0f0;
  border: none;
  border-radius: 5px;
}

.btn {
  width: 65px;
  height: 65px;
  margin: 5px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: #555;
}

#buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#parent {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f0;
} */

#contactForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 100px 0 0 100px;
}

#contactForm input {
  height: 50px;
  width: 300px;
  text-align: center;
}

#contactForm textarea {
  height: 300px;
  width: 300px;
}

#contactForm button {
  height: 50px;
  width: 100px;
  border-radius: 50px;
  border: none;
}

#contactForm button:hover {
  background-color: orange;
  color: #000;
}